/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

#root {
  text-align: center;
  background-color: #242424;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
}
.App {
  height: 100%;
  display: flex;
}
.drag-and-drop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 80vh;
  width: 80vh;
  margin: auto;
  background-color: #ff5050ad;
  gap: 1rem;
}
.dnd-group {
  border: 1px solid #ccc;
}
.dnd-item {
  padding: 1rem;
  background-color: #f88b8bad;
}
.dnd-item:active {
  opacity: 0.7;
  border: 1px solid blue;
}
.drop-area {
  padding: 1rem;
  background-color: #f88b8b60;
  transition: all 0.2s ease-in-out;
}
.hide-drop {
  opacity: 0;
}
